body{
    background-image: url(loginbg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.top{
    display: flex;
    padding:0 5%;
    box-sizing: border-box;
    background: black;
    height: 80px;
    line-height: 80px;
}
.t_l{
    flex:1;
}
.t_l a{
    color: #fff;
    font-size: 1.4em;
}